.CoinsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: auto;
}
.Title {
  margin-bottom: 2%;
}
.search {
  position: sticky;
  z-index: 2;
  top: 2%;

  margin-bottom: 2%;
}
