.CoinItem {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  max-height: 13%;
}

.icon {
  width: 13%;
  margin-left: auto;
}

.name {
  font-size: 32px;
  width: 85%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  line-height: 120%;
  font-weight: 400;
}
