:root {
  --color-bg: #0d0d2b;
  --color-bg-RGB: 13, 13, 43;
  --color-text: #fff;
  --color-text-2: #d0cdd7;
  --color-accent: #3671e9;
  --color-accent-2: #1e4262;

  --shadow-neon: 0 0 15px rgba(54, 113, 233, 0.6);

  --transition-hover: 0.3s;

  --button-font: 400 20px/120% "Roboto", sans-serif;

  --button-border-radius: 12px;
  --button-padding: 16px 26px;
  --button-hover-scale: 1.02;

  --card-background: rgba(30, 30, 30, 0.3);
  --card-border-radius: 24px;
  --card-padding: 20px;

  --input-border: 1px solid var(--color-accent-2);
  --input-padding: 16px 24px;
  --input-border-radius: 14px;
  --input-font: 400 20px/100% "Roboto", sans-serif;
}
