@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap");
@import "./libs/reset.scss";
@import "./vars/global.scss";

body {
  font-family: "Roboto", sans-serif;

  color: var(--color-text);
  background-color: var(--color-bg);
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  padding: 2vh 3vw;
  height: 100vh;
}
