@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap");
@import "./libs/reset.scss";
@import "./vars/global.scss";

body {
  height: 500vh;
  font-family: "Roboto", sans-serif;

  color: var(--color-text);
  background-color: var(--color-bg);
}

.container {
  max-width: 1115px;
  margin: 0 auto;
  padding: 0 15px;
}
