.AppLink {
  text-decoration: none;
  display: inline-block;
}

.button {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);

  font: var(--button-font);

  color: var(--color-text);
  background-color: var(--color-accent);
  transition: all, var(--transition-hover);
}
.button:hover {
  box-shadow: var(--shadow-neon);
  transform: scale(var(--button-hover-scale));
}

.default {
  position: relative;
  padding: 5px 10px;
  color: var(--color-text);

  font: var(--button-font);
  transition: all var(--transition-hover);
}

.default:hover {
}
