.Input {
  display: block;
  padding: var(--input-padding);

  box-shadow: var(--shadow-neon);
  border: var(--input-border);
  border-radius: var(--input-border-radius);

  font: var(--input-font);

  color: var(--color-text);
  background-color: var(--input-background);
}
.Input:focus-visible {
  outline: 1px solid var(--color-accent-2);
}
