.Card {
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding: var(--card-padding);

  border-radius: var(--card-border-radius);
}

.classic {
  background: var(--card-background);
}
// .glossy{
//   background: linear-gradient(
//     45deg,
//     rgba(255, 255, 255, 0.8),
//     rgba(200, 200, 200, 0.2)
//   );
// }
.glossyGreen {
  background: linear-gradient(
    45deg,
    rgba(0, 210, 0, 0.5),
    rgba(255, 255, 255, 0.4)
  );
}
.glossyRed {
  background: linear-gradient(
    45deg,
    rgba(210, 0, 0, 0.5),
    rgba(255, 255, 255, 0.4)
  );
}
