.Card {
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding: var(--card-padding);

  border-radius: var(--card-border-radius);

  background: var(--card-background);
}

.classic {
  background-color: transparent;
}

.glossyGreen {
  background: linear-gradient(
    45deg,
    rgba(0, 210, 0, 0.5),
    rgba(255, 255, 255, 0.4)
  );
}
.glossyRed {
  background: linear-gradient(
    45deg,
    rgba(20, 80, 0, 0.5),
    rgba(255, 255, 255, 0.4)
  );
}
